.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 200ms ease;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.lang {
  margin-left: 5px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
  }
}

.collapseBtn {
  position: absolute;
  right: 0;
  top: 0;
}

.links {
  margin: 50px 0 0 20px;
  display: flex;
  flex-direction: column;
}

.link {
  margin-top: 10px;
}

.linkIcon {
  fill: var(--inverted-primary-color);
}
